<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.owa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.sensor.stepcounter" />
    <uses-feature android:name="android.hardware.sensor.stepdetector" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/profile"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Location"></activity>
        <activity android:name=".admin_del_registered_user" />
        <activity android:name=".feedback" />
        <activity android:name=".user_view_workshop" />
        <activity android:name=".userRegiseterToWorkshop" />
        <activity android:name=".PDF_workshops" />
        <activity android:name=".registred_workshops"> <!-- THIS IS TO VIEW REGISTRED WORKSHOPS FOR ADMIN ITS CONNECTED WITH admin_del_registered_user -->

        </activity>
        <activity android:name=".view_Ads"></activity>
        <activity android:name=".add_Advertisements"></activity>
        <activity android:name=".update_workshop" />
        <activity android:name=".add_News"></activity>
        <activity android:name=".adminLogin" />
        <activity android:name=".adminRegister"></activity>
        <activity android:name=".Workshop"></activity>
        <activity android:name=".Register_workshop" />
        <activity android:name=".news" />
        <activity android:name=".Admin_page"></activity>
        <activity android:name=".helpGuide" />
        <activity android:name=".reset_password" />
        <activity android:name=".Forget_Password" />
        <activity android:name=".access">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".access_login" />
        <activity android:name=".registration" />
        <activity android:name=".login"></activity>
        <activity android:name=".services" />
    </application>

</manifest>